---  
layout: main 
title: Home
exclude_from_nav: true
---
<p><b>11/03/2019</b>: {% include hwRef.html hwLabel = "Lab 8" %} posted (Due Monday, 11/11/19</p>
<p><b>10/22/2019</b>: {% include hwRef.html hwLabel = "Lab 7" %} posted (Due Friday, 10/25/19</p>
<p><b>10/14/2019</b>: {% include hwRef.html hwLabel = "Lab 6" %} posted (Due Monday, 10/21/19</p>
<p><b>9/30/2019</b>: {% include hwRef.html hwLabel = "Lab 4" %} posted (Due Monday, 10/08/19</p>
<p><b>9/24/2019</b>: {% include examRef.html examLabel = "Exam I" %} will be Friday, 9/27/19</p>
<p><b>9/16/2019</b>: {% include hwRef.html hwLabel = "Lab 3" %} posted (Due Monday, 9/23/19</p>
<p><b>9/08/2019</b>: {% include hwRef.html hwLabel = "Lab 2" %} posted (Due Monday, 9/16/19</p>
<p><b>9/06/2019</b>: <a href = 'https://easternct.blackboard.com/'>Blackboard Survey</a> posted (Due Sunday, 9/8/19 by 5:00 PM)</p>
<p><b>8/30/2019</b>: {% include hwRef.html hwLabel = "Lab 1" %} posted (Due Friday, 9/6/19</p>
<p><b>8/28/2019</b>: Welcome to <b style = "color: red"> Bioinformatics Programming and Analysis </b> for the Fall 2018 Semester! This page will be used to provide course material for CSC-315.  Please see the links above for more information. </p>

{% comment %}
<p><b>11/24/2018</b>: {% include hwRef.html hwLabel = "Challenge and Final Project" %} posted
<p><b>11/10/2018</b>: {% include hwRef.html hwLabel = "Lab 9" %} posted (Due: Wednesday, 11/14/18)
<p><b>11/02/2018</b>: {% include hwRef.html hwLabel = "Lab 8" %} posted (Due: Wednesday, 11/07/18)
<p><b>10/11/2018</b>: {% include hwRef.html hwLabel = "Lab 6" %} will be due Friday, 10/19/18
<p><b>10/09/2018</b>: {% include hwRef.html hwLabel = "Lab 5" %} posted (not collected, but you are responsible for this material)
<p><b>10/02/2018</b>: {% include hwRef.html hwLabel = "Lab 4" %} posted (will be due Monday, 10/08/18)
<p><b>9/09/2018</b>: {% include hwRef.html hwLabel = "Lab 2" %} will be due Monday, 9/17/18
<p><b>9/07/2018</b>: The {% include hwRef.html hwLabel= "Blackboard Survey" %} is now available and is due by 5:00 PM, Sunday, 9/9/18
<p><b>8/30/2018</b>: For Friday's class, you should install R/RStudio (see links on syllabus) and the packages following the first {% include hwRef.html hwLabel = "assignment" %}.
{% endcomment %}
