---  
layout: main 
title: Home
exclude_from_nav: true
---
<p><b>9/28/2016</b>: Module 4 notes posted in the 
  {% include notesRef.html notesLabel = "Notes" %} section. </p>
<p><b>9/19/2016</b>: {% include hwRef.html hwLabel ="Lab 3" %} posted </p> 
<p><b>9/15/2016</b>: Module 3 notes posted in the 
  {% include notesRef.html notesLabel = "Notes" %} section. </p>
<p><b>9/12/2016</b>: {% include hwRef.html hwLabel ="Lab 2" %} posted </p> 
<p><b>9/9/2016</b>: {% include hwRef.html hwLabel ="Blackboard survey" %} posted </p> 
<p><b>9/9/2016</b>: Module 2 notes posted in the 
  {% include notesRef.html notesLabel = "Notes" %} section. </p>
<p><b>8/30/2016</b>: Introductory <i>R</i> script posted in the 
<p><b>9/2/2016</b>: {% include hwRef.html hwLabel="Lab #1" %} posted (Due: Friday, 9/9) </p>
<p><b>8/30/2016</b>: Introductory <i>R</i> script posted in the 
  {% include notesRef.html notesLabel = "Notes" %} section. </p>
<p><b>8/23/2016</b>: Welcome to <b style = "color: red"> Bioinformatics Programming and Analysis </b> for the Fall 2016 Semester! This page will be used to provide course material for CSC-315.  Please see the links above for more information. </p>

