---  
layout: main 
title: Home
exclude_from_nav: true
---
<p><b>9/8/2017</b>: Reminder that the {% include hwRef.html hwLabel = "Blackboard survey" %}  is due Monday, 9/11/2017. 
<p><b>9/7/2017</b>: Reminder that {% include hwRef.html hwLabel = "Lab 1" %}  is due Monday, 9/11/2017. 
<p><b>8/27/2017</b>: Welcome to <b style = "color: red"> Bioinformatics Programming and Analysis </b> for the Fall 2017 Semester! This page will be used to provide course material for CSC-315.  Please see the links above for more information. </p>

